<%- include('partials/header'); %>
<link href="/css/home.css" rel="stylesheet">
  <body class="text-center body">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>    
    <h1 class="display-3">Daily Journal</h1>
    <a class="btn btn-primary btn-med" href="/register" role="button">Sign Up</a>
    <a class="btn btn-primary btn-med" href="/login" role="button">Login</a>

  </div>
</body>
